@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Flamenco&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,500;1,500&family=Pacifico&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Poppins:wght@500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html {
  /* font-size: 62.5%; */
  color: #24305f;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  background-color: #fffdfb;
}

.accordion {
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 50%;
  margin: 200px auto;
}

.item {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 30px;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

h2 {
  font-size: 20px;
  text-transform: capitalize;
}

.number {
  font-size: 25px;
}

.icon {
  width: 24px;
  height: 24px;
  color: #186;
}

.hidden-box {
  grid-column: 2/3;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

.hidden-box ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hidden-box ul li {
  margin-left: 16px;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  border-top: 3px solid #1864ab;
  animation: borderline 1s linear;
  -webkit-animation: borderline 1s linear;
}

@keyframes borderline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.active .hidden-box {
  display: block;
}
